extends layout

block content
  h1= title
  p Welcome to the tomato pug
  div(class="container-fluid")
        div(class="row")
            -
                let tomato = results
            each b,index in tomato
                div(class="col-sm-2" onclick=`buy(${index})`) #{b.type}
                div(class="col-sm-2" onclick=`buy(${index})`) #{b.expdate}
                div(class="col-sm-2" onclick=`buy(${index})`) #{b.cost}
  script.                
        function buy(itemNo)
        {
              alert(`you purchased Item ${itemNo+1}`)
        }