extends layout 
 
block content 
  h1= title 
 
  if (toShow == null) 
    h2 No instance to delete 
  else 
    - let tomatoid = toShow._id 
    - let type = toShow.type 
    - let expdate = toShow.expdate 
    - let cost = toShow.cost 
    - let actionid = "/resource/tomato/" + tomatoid 
    script let actionid = "#{actionid}" 
    div 
      div.row 
        div(class='tomatoAttr mr-3') tomato ID is: 
        div #{tomatoid} 
      div.row 
        div(class='tomatoAttr mr-3') type  is: 
        div #{type} 
      div.row 
        div(class='tomatoAttr mr-3') expdate is: 
        div #{expdate} 
      div.row 
        div(class='tomatoAttr mr-3') cost is: 
        div #{cost} 
 
    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete 
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel 
 
  script. 
    function cancel() { 
      // Go back to the home page for the tomato collection 
      window.location.href='/tomato' 
    } 
  script.
    function deleteOnid() { 
      console.log("starting delete") 
      // delete first 
      fetch(actionid, { 
        method: 'DELETE'     // Don't need a body for the delete 
      }).then((resp) => { 
        return resp.text(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Delete succeded") 
        window.location.href='/tomato' 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Delete failed " + error ) 
      }); 
    }