extends layout

block content
  h1= title
  p Tomato results
  div(class="container-fluid")
        div(class="row")
            -
                let mattress = results
                
            each v,index in mattress
                div(class="col-sm-2" onclick=`buy(${index})`) #{v.type}
                div(class="col-sm-2" onclick=`buy(${index})`) #{v.expdate}
                div(class="col-sm-2" onclick=`buy(${index})`) #{v.cost}

                script.                
                      function buy(intemNo)
                      {
                            alert(`you purchased Item ${intemNo+1}`)
                      }